
/*  Element Selector */
body {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

/*  CSS Comments */
h1 {
    color: green;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: normal;
}

footer {
    padding: 40px 20px;
    background-color: black;
    color: white;
}

article {
    clear: left;
}


/* ID Selector*/
#mainarticle {
    margin: 20px;
}

/* Child Selector*/
body>header {
    background-color: yellow;
    margin: 0px;
    padding: 30px;
}

#subtitle {
    font-size: larger;
    margin-top: 0;
}

/* Class Selector */
.post {
    border-left: 4px solid #3abc49;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
}

/* MUiltiple Selectors */
p, h2 {
    color: gray;
}

/* Descendants Selectors */

/* Flexbox container */

nav ul {
    display: flex;
    flex-direction: row;
}

/* Flexbox Items */

nav li {
    font-size: large;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    padding: 3px;
    flex-grow: 1;
    text-align: center;
}

article p {
    font-size: 15.5px;
    text-align: justify;
    margin-right: 20px;
}

article h2 {
    color: #3abc49;
}

#logo {
    float: right;
    vertical-align: top;
    margin-right: 0;
    margin-left: 5px;
}

article img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 3px solid gray;
}

/* Style Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid red;
    padding: 5px;
    text-align: center;
}

th {
    background-color: orange;
}